@model List<MyBlog.ViewModels.BlogAdminModel>
@{
    ViewBag.Title = "Admin Panel";
}
@if (Model.Count() == 0)
{
    <p>No Data</p>
}
else
{
    <div id="container">

        <table class="table table-hover ">
            <thead class="thead-dark ">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Author</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">View</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in @Model.OrderByDescending(x => x.Date))
                {
                <tr>
                    <td>@article.Id</td>
                    <td>@article.Title</td>
                    <td><img src="@article.ImageUrl" style="width:45px;height:45px;border-radius:3px;object-fit:cover;" /></td>
                    <td>@article.Author</td>
                    <td>@article.Date</td>
                    @if (article.DateModified != null)
                    {
                        <td>@article.DateModified</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <th><a href="/Home/Detail/@article.Id" class="btn btn-info"><i class="fas fa-eye"></i></a></th>
                    <th><a asp-action="Update" asp-route-id="@article.Id" class="btn btn-warning text-light"><i class="fas fa-pencil-alt"></i></a></th>
                    <th><a href="/Home/Delete/@article.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a></th>
                </tr>
                }

            </tbody>
        </table>



    </div>

}

