@model MyBlog.ViewModels.BlogDetailDataModel;
@{
    ViewBag.Title = @Model.BlogDetail.Title;
}
@section Style{
    <link href="~/css/sidebar.css" rel="stylesheet" />
}
<style>
    #comment_btn {
        display: none;
    }
    #container3{
        position:relative;
    }
</style>
<div id="container3">
    <div id="wrapper">
        <!-- SINGLE MOVIE CARD-->
        <div class="single-card">
            <div class="flx">
                <img class="single-card-img" src="@Model.BlogDetail.ImageUrl" style="width:100%;height:300px;object-fit:cover; border-radius:3px 3px 0px 0px;">
                <div class="single-card-genre">
                    <div class="card-footer">
                        <p class='single-card-title'><b>@Model.BlogDetail.Title</b></p>
                        <small class="text-muted"><b>Views</b> @Model.BlogDetail.Views |</small>
                        <small class="text-muted"><b>Author</b> @Model.BlogDetail.Author |</small>
                        <small class="text-muted">Created - @Model.BlogDetail.Date | </small>
                        @if (Model.BlogDetail.DateModified != null)
                        {
                            <small class="text-muted">Modified - @Model.BlogDetail.DateModified</small>
                        }
                        else
                        {
                            <small class="text-muted"></small>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (Model.BlogDetail.Like)
                            {
                                <a href="/Home/Like/@Model.BlogDetail.Id"><i class="fas fa-heart fa-2x"></i></a>
                            }
                            else
                            {
                                <a href="/Home/Like/@Model.BlogDetail.Id"><i class="far fa-heart fa-2x"></i></a>
                            }
                        }

                    </div>

                </div>
            </div>
            <div class="single-card-description">
                <br>
                <p>@Model.BlogDetail.Content</p>
                <br>
            </div>
            <p>Review:</p>
            <div>
                <span id="star_1" style="font-size:20px;cursor:pointer;"><i class='far fa-star'></i></span>
                <span id="star_2" style="font-size:20px;cursor:pointer;"><i class='far fa-star'></i></span>
                <span id="star_3" style="font-size:20px;cursor:pointer;"><i class='far fa-star'></i></span>
                <span id="star_4" style="font-size:20px;cursor:pointer;"><i class='far fa-star'></i></span>
                <span id="star_5" style="font-size:20px;cursor:pointer;"><i class='far fa-star'></i></span>
            </div>

            <form asp-controller="Ratings" asp-action="Add" method="POST" class="comments-form">
                <input type="text" name="blogId" value="@Model.BlogDetail.Id" hidden />
                <input type="number" max="5" min="1" name="Score" onchange="StarCounter();" id="counter_number" hidden required>
                <button type="submit" style="padding:0.3rem 1rem; border-radius:3px; cursor:pointer;color:#FFF; background-color:#ff6a00;border:0;">Rate</button>
            </form>


            @if (Model.BlogDetail.Ratings.Count > 0)
            {
                <p>@Convert.ToInt32(Model.BlogDetail.Ratings.Average(x => x.Score)) / 5</p>
            }

            <!-- Comment Section-->
            <!-- Comment POST-->
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Comments" asp-action="Add" method="POST" id="comment-form">
                    <input type="text" name="articleId" value="@Model.BlogDetail.Id" hidden />
                    <div class="form-group">
                        <textarea type="text" name="comment" onkeydown="CheckLength()" class="form-control" cols="20" rows="3" required id="textarea" placeholder="Write something..."></textarea>
                    </div>
                    <small id="msg_small" style="display:block;color:red;"></small>
                    <button id="comment_btn" type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            }
            @if (Model.BlogDetail.Comments.Count() > 0)
            {
                @foreach (var comment in Model.BlogDetail.Comments.OrderByDescending(x => x.DateCreated))
                {
                    <div class="container badge-light m-1 p-2">
                        <div class="row">
                            <div class="col-12 text-info row ml-2">
                                @comment.Username -
                                @comment.DateCreated
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (User.FindFirst("Username").Value == comment.Username)
                                    {
                                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id"><div class="text-danger p-1"><i class="fas fa-trash-alt"></i></div></a>
                                    }
                                }
                            </div>
                        </div>
                        <p class="comment-message p-3">@comment.Message</p>
                    </div>
                }
            }
            else
            {
                <p>No Comments</p>
            }


        </div>
        <br>
        <a href="/Home/Index" class="btn btn-outline-primary">Back</a>
    </div>

    <div class="side-bar-left">
        <partial name="SidebarPartial" for="@Model.blogSidebarData" />
    </div>
</div>


@section Scripts{
    <script src="~/js/rating-stars.js"></script>
    <script src="~/js/comment_validator.js"></script>
}